examples/logIO Inline and Wired modes
[
    {
        "id": "ad3b1522e7f60445",
        "type": "group",
        "z": "8670f2ac78d992c8",
        "name": "Inline mode",
        "style": {
            "label": true
        },
        "nodes": [
            "c7c58326a362d4a2",
            "44aa67f19c93b4cd",
            "d541982545a2e51e"
        ],
        "x": 34,
        "y": 39,
        "w": 472,
        "h": 82,
        "info": "In inline mode, logIO behave the same as core debug node."
    },
    {
        "id": "c7c58326a362d4a2",
        "type": "inject",
        "z": "8670f2ac78d992c8",
        "g": "ad3b1522e7f60445",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "44aa67f19c93b4cd"
            ]
        ]
    },
    {
        "id": "44aa67f19c93b4cd",
        "type": "function",
        "z": "8670f2ac78d992c8",
        "g": "ad3b1522e7f60445",
        "name": "function 1",
        "func": "node.warn(\"Hello from function.\\nIn inline mode, logIO behaves the same as core debug node\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 80,
        "wires": [
            [
                "d541982545a2e51e"
            ]
        ]
    },
    {
        "id": "d541982545a2e51e",
        "type": "logIO",
        "z": "8670f2ac78d992c8",
        "g": "ad3b1522e7f60445",
        "name": "logIO",
        "active": true,
        "logger": "0ebd2e83d96a938a",
        "complete": "payload",
        "targetType": "msg",
        "logIOMode": "inline",
        "logIOScope": "IO",
        "autoStart": true,
        "scope": [],
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "0ebd2e83d96a938a",
        "type": "logIO-logger",
        "name": "loggerIO",
        "logLevel": "debug",
        "isTimestampUTC": false,
        "logMeta": "none",
        "logMetaOptions": "",
        "logOutput": "nr-debugger,console",
        "fileFileName": "logIO-%DATE%.log",
        "fileDirName": "",
        "fileDatePattern": "YYYY-HH-MM",
        "fileIsJsonFormat": false,
        "fileZippedArchive": false,
        "fileMaxSize": "10",
        "fileMaxSizeUnit": "m",
        "fileMaxFiles": "",
        "fileMaxFilesUnit": "",
        "consoleIsJsonFormat": false,
        "elkUrl": "http://localhost:9200",
        "elkIndex": "node-red"
    },
    {
        "id": "c6edcc7ead5341fe",
        "type": "group",
        "z": "8670f2ac78d992c8",
        "name": "Wired mode (log INPUTS & OUTPUTS)",
        "style": {
            "label": true
        },
        "nodes": [
            "d1bf8c4b4ac8f35e",
            "2f14489f730c61f2",
            "9e66b12ffdf12eb6"
        ],
        "x": 34,
        "y": 139,
        "w": 472,
        "h": 82,
        "info": "In inline mode, logIO behave the same as core debug node."
    },
    {
        "id": "d1bf8c4b4ac8f35e",
        "type": "inject",
        "z": "8670f2ac78d992c8",
        "g": "c6edcc7ead5341fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "2f14489f730c61f2"
            ]
        ]
    },
    {
        "id": "2f14489f730c61f2",
        "type": "function",
        "z": "8670f2ac78d992c8",
        "g": "c6edcc7ead5341fe",
        "name": "function 2",
        "func": "node.warn(\"Hello from function\\n In Wired mode, logIO logs INPUT and OUTPUT messages of ALL nodes that are in any way wired to logIO node.\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 180,
        "wires": [
            [
                "9e66b12ffdf12eb6"
            ]
        ]
    },
    {
        "id": "9e66b12ffdf12eb6",
        "type": "logIO",
        "z": "8670f2ac78d992c8",
        "g": "c6edcc7ead5341fe",
        "name": "logIO",
        "active": true,
        "logger": "0ebd2e83d96a938a",
        "complete": "payload",
        "targetType": "msg",
        "logIOMode": "wired",
        "logIOScope": "IO",
        "autoStart": true,
        "scope": [],
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "17499d47c7dc16ab",
        "type": "group",
        "z": "8670f2ac78d992c8",
        "name": "Wired mode (log INPUTS only)",
        "style": {
            "label": true
        },
        "nodes": [
            "2fea8f2e26e639ec",
            "b6895421b154cf94",
            "5e193e8bbb9519cc"
        ],
        "x": 34,
        "y": 239,
        "w": 472,
        "h": 82,
        "info": "In inline mode, logIO behave the same as core debug node."
    },
    {
        "id": "2fea8f2e26e639ec",
        "type": "inject",
        "z": "8670f2ac78d992c8",
        "g": "17499d47c7dc16ab",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "b6895421b154cf94"
            ]
        ]
    },
    {
        "id": "b6895421b154cf94",
        "type": "function",
        "z": "8670f2ac78d992c8",
        "g": "17499d47c7dc16ab",
        "name": "function 3",
        "func": "node.warn(\"Hello from function\\n In Wired mode, logIO can also log only INPUT messages of ALL nodes that are in any way wired to logIO node.\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 280,
        "wires": [
            [
                "5e193e8bbb9519cc"
            ]
        ]
    },
    {
        "id": "5e193e8bbb9519cc",
        "type": "logIO",
        "z": "8670f2ac78d992c8",
        "g": "17499d47c7dc16ab",
        "name": "logIO",
        "active": true,
        "logger": "0ebd2e83d96a938a",
        "complete": "payload",
        "targetType": "msg",
        "logIOMode": "wired",
        "logIOScope": "I",
        "autoStart": true,
        "scope": [],
        "x": 410,
        "y": 280,
        "wires": []
    }
]