examples/logIO flow.json
[
    {
        "id": "0856dbb148e496e2",
        "type": "logIO",
        "z": "c6a90ff6db109b13",
        "name": "logIO",
        "outputs": 0,
        "active": true,
        "logger": "8cbec090b8775101",
        "complete": "true",
        "targetType": "full",
        "logIOMode": "flow",
        "autoStart": true,
        "scope": [],
        "x": 230,
        "y": 180,
        "wires": []
    },
    {
        "id": "1dca3845c7193e87",
        "type": "comment",
        "z": "c6a90ff6db109b13",
        "name": "FLOW mode",
        "info": "FLOW mode\nLog output of all nodes in the current flow.",
        "x": 90,
        "y": 180,
        "wires": []
    },
    {
        "id": "92b6398dcd88fbfd",
        "type": "inject",
        "z": "c6a90ff6db109b13",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "40c8b8e1b905be2a"
            ]
        ]
    },
    {
        "id": "40c8b8e1b905be2a",
        "type": "change",
        "z": "c6a90ff6db109b13",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "I'm logged too!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "b791d6ae562be5b1"
            ]
        ]
    },
    {
        "id": "b791d6ae562be5b1",
        "type": "function",
        "z": "c6a90ff6db109b13",
        "name": "function",
        "func": "msg.payload = 'I was modified in funciton node :/';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "8cbec090b8775101",
        "type": "logIO-logger",
        "name": "loggerIO [debug]",
        "logLevel": "debug",
        "isTimestampUTC": false,
        "logMeta": "all",
        "logMetaOptions": "",
        "logOutput": "nr-debugger,console",
        "fileFileName": "logIO-%DATE%.log",
        "fileDirName": "",
        "fileDatePattern": "YYYY-HH-MM",
        "fileIsJsonFormat": false,
        "fileZippedArchive": false,
        "fileMaxSize": "10",
        "fileMaxSizeUnit": "m",
        "fileMaxFiles": "",
        "fileMaxFilesUnit": "",
        "consoleIsJsonFormat": false,
        "elkUrl": "https://10.11.12.10:9200",
        "elkIndex": "node-red"
    }
]